Node-RED flow
[{"id":"b74e8edd.2503","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"534ab612.c37c68","type":"telegram receiver","z":"b74e8edd.2503","name":"","bot":"e8b958ad.8453a8","saveDataDir":"","x":232,"y":117,"wires":[["d2cd31ef.12f8","d976a467.c14468"],[]]},{"id":"f3ac322f.94184","type":"http request","z":"b74e8edd.2503","name":"send to Telegram chat <chatId>","method":"POST","ret":"txt","url":"https://api.telegram.org/bot792710675:AAGiQaFlfkGT9DsVCx0Ql6wxAhLC3LlrCmg/sendMessage?chat_id={{{payload.chatId}}}&text={{{payload.text}}}","tls":"","x":889.71435546875,"y":371.857177734375,"wires":[[]]},{"id":"dead4ccb.52fcc","type":"http request","z":"b74e8edd.2503","name":"Ask WA service of CF20 via /message","method":"POST","ret":"txt","url":"https://cf20.mybluemix.net/message","tls":"","x":517,"y":292.42852783203125,"wires":[["df83a35b.78c99"]]},{"id":"d2cd31ef.12f8","type":"function","z":"b74e8edd.2503","name":"set payload to telegram message","func":"chat = msg.payload.content;\nmsg.payload = {\n    locale : \"en\",\n    message : chat,\n    uuid : msg.payload.chatId.toString()\n}\nreturn msg;","outputs":1,"noerr":0,"x":522.9999694824219,"y":121.42852783203125,"wires":[["7b4825a4.97e0dc"]]},{"id":"df83a35b.78c99","type":"json","z":"b74e8edd.2503","name":"","property":"payload","action":"","pretty":false,"x":743,"y":292.42852783203125,"wires":[["961cd5d3.656b58"]]},{"id":"961cd5d3.656b58","type":"function","z":"b74e8edd.2503","name":"set payload to WA response","func":"text = msg.payload.text;\nmsg.payload = {\n    text: text,\n    chatId: flow.get(\"chatId\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":940.4285888671875,"y":293.5714416503906,"wires":[["f3ac322f.94184"]]},{"id":"3ef7cd7d.87dce2","type":"http in","z":"b74e8edd.2503","name":"","url":"/message","method":"get","upload":false,"swaggerDoc":"","x":306,"y":527,"wires":[["6f4ac57d.a0db3c"]]},{"id":"d976a467.c14468","type":"change","z":"b74e8edd.2503","name":"save chatId","rules":[{"t":"set","p":"chatId","pt":"flow","to":"payload.chatId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460.5,"y":66,"wires":[[]]},{"id":"7b4825a4.97e0dc","type":"switch","z":"b74e8edd.2503","name":"","property":"payload.message","propertyType":"msg","rules":[{"t":"eq","v":"/chatId","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":765.5,"y":121,"wires":[["3905bdf0.d5e742"],["dead4ccb.52fcc"]]},{"id":"3905bdf0.d5e742","type":"function","z":"b74e8edd.2503","name":"set payload to chatID","func":"msg.payload = {\n    text: flow.get(\"chatId\").toString(),\n    chatId: flow.get(\"chatId\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":912,"y":221,"wires":[["f3ac322f.94184"]]},{"id":"42f54ee3.9de03","type":"http response","z":"b74e8edd.2503","name":"","statusCode":"200","headers":{},"x":854.5,"y":526,"wires":[]},{"id":"6f4ac57d.a0db3c","type":"function","z":"b74e8edd.2503","name":"set payload to chatID & message text","func":"msg.payload = {\n    chatId: msg.req.query.chatId,\n    text: msg.req.query.text\n}\nreturn msg;","outputs":1,"noerr":0,"x":585,"y":529,"wires":[["42f54ee3.9de03","f3ac322f.94184"]]},{"id":"e8b958ad.8453a8","type":"telegram bot","z":"","botname":"SmartFactoryKlCf20","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","verboselogging":false}]
